<header itemscope itemtype="https://schema.org/WPHeader">

    <div class="child navbar-toggle">
      <input type="checkbox" role="button" aria-label="Display the menu" class="menu" [appPlaySoundAndVibrate]="{ sound: 'assets/sounds/click.mp3', vibrate: false }" (click)="onToggleBar()">
    </div>

<!--    <div class="child navbar-toggle">-->
<!--        <fa-icon [appPlaySoundAndVibrate]="{ sound: 'assets/sounds/click.mp3', vibrate: false }" [icon]="faBars"  class="bar-icon" (click)="onToggleBar()"></fa-icon>-->
<!--    </div>-->

    <div class="child logo-container" itemprop="brand" itemscope itemtype="https://schema.org/Brand">
        <a (click)="resetMenu()" href="#" class="logo" itemprop="name" itemprop="logo">zdm-official</a>
    </div>

    <div class="child nav-container" #nav [hidden]="!hasMenuToggled" itemscope itemtype="https://schema.org/SiteNavigationElement">
        <ul>
            <li><a (click)="resetMenu()" [appPlaySoundAndVibrate]="{ sound: 'assets/sounds/swipe.mp3', vibrate: false }" href="#about" itemprop="url"><span itemprop="name">About me</span></a></li>
            <li><a (click)="resetMenu()" [appPlaySoundAndVibrate]="{ sound: 'assets/sounds/swipe.mp3', vibrate: false }" href="#experience" itemprop="url"><span itemprop="name">Experiences</span></a></li>
            <li><a (click)="resetMenu()" [appPlaySoundAndVibrate]="{ sound: 'assets/sounds/swipe.mp3', vibrate: false }" href="#posts" itemprop="url"><span itemprop="name">Posts</span></a></li>
            <li><a (click)="resetMenu()" [appPlaySoundAndVibrate]="{ sound: 'assets/sounds/swipe.mp3', vibrate: false }" href="#contact" itemprop="url"><span itemprop="name">Contact</span></a></li>
            <!-- TODO: update here -->
            <li><a (click)="resetMenu()" [appPlaySoundAndVibrate]="{ sound: 'assets/sounds/click.mp3', vibrate: true }" href="assets/Dmytro_Zeleniuk_CV.pdf" title="Open Resume as PDF" target="_blank"><fa-icon [icon]="faCloudDownloadAlt" class="bar-icon"></fa-icon></a></li>
        </ul>
    </div>

   <!-- <div class="child language-container">
      <div class="frame">
          <ul>
               <li itemprop="availableLanguage" itemscope itemtype="https://schema.org/Language">
                  <a href="/en/index.html" [ngClass]="{'active': locale === 'en'}" itemprop="name">EN</a>
              </li>
             <li itemprop="availableLanguage" itemscope itemtype="https://schema.org/Language">
                  <a href="/ukr/index.html" [ngClass]="{'active': locale === 'ukr'}" itemprop="name">UKR</a>
              </li>
         </ul>
       </div>
   </div> -->

    <div class="child share-container" #shareBtn>
        <fa-icon [appPlaySoundAndVibrate]="{ sound: 'assets/sounds/click.mp3', vibrate: true }" [icon]="faShareAlt" class="icon" (click)="share()" alt="share" itemprop="share"></fa-icon>
    </div>

</header>
