<section id="welcome">
    <div class="layer_one">
        <div class="avatar-container">
<!--          <img loading="lazy" class="illustration" id="animatedImage" src="./assets/template/welcome/dmytro-illustration-active.png" alt="{{characterName}}"/>-->
          <img loading="lazy" class="illustration" id="animatedImage" src="../../assets/template/welcome/dmytro-illustration-crop.gif" alt="{{characterName}}"/>

          <app-welcome-background></app-welcome-background>
        </div>
        <app-welcome-dialog></app-welcome-dialog>
    </div>
</section>
