<div class="skills">
    <img loading="lazy" class="background" src="assets/template/welcome/illustration-back.png" alt="Background circle"/>
    <img loading="lazy" class="skill-icon first" src="assets/template/welcome/icons/angular-original.svg" alt="Angular"/>
    <img loading="lazy" class="skill-icon second" src="assets/template/welcome/icons/css3-original.svg" alt="CSS3"/>
    <img loading="lazy" class="skill-icon third" src="assets/template/welcome/icons/git-original.svg" alt="Git"/>
    <img loading="lazy" class="skill-icon fourth" src="assets/template/welcome/icons/html5-original.svg" alt="HTML5"/>
    <img loading="lazy" class="skill-icon fifth" src="assets/template/welcome/icons/rxjs-original.svg" alt="rxjs"/>
    <img loading="lazy" class="skill-icon sixth" src="assets/template/welcome/icons/angularmaterial-original.svg" alt="angularmaterial"/>
    <img loading="lazy" class="skill-icon seventh" src="assets/template/welcome/icons/ionic-original.svg" alt="ionic"/>
    <img loading="lazy" class="skill-icon eighth" src="assets/template/welcome/icons/typescript-original.svg" alt="typescript" />
    <img loading="lazy" class="skill-icon ninth" src="assets/template/welcome/icons/javascript-original.svg" alt="javascript" />
</div>
