
@font-face {
  font-family: Ostrich Sans;
  src: local("☺"), url('/assets/fonts/ostrich-sans-black.468c84aa.woff') format("woff");
  font-weight: 900;
  font-style: normal
}

@font-face {
  font-family: Ostrich Sans;
  src: local("☺"),url('/assets/fonts/ostrich-sans-regular.cd994a86.woff');
  font-weight: 400;
  font-style: normal
}
